<!DOCTYPE html>
<html>
<head>
    <title>Глобальний чат</title>
</head>
<body>
    <h2>Глобальний чат</h2>
    <div id="chat"></div>
    <input id="messageInput" type="text" placeholder="Введи повідомлення">
    <button onclick="sendMessage()">Надіслати</button>

    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector("#chat").innerHTML += "<p>" + data.message + "</p>";
        };

        function sendMessage() {
            const input = document.querySelector("#messageInput");
            chatSocket.send(JSON.stringify({ "message": input.value }));
            input.value = "";
        }
    </script>
</body>
</html>