{% extends "base.html" %}

{% block content %}
    <h1>Aviable tasks</h1>
    {% for task in tasks %}
        <li class="list-group-item">
            <a href="{% url 'task-detail' task.pk %}">{{ task.title }}</a>
            <span class="badge text-bg-primary">{{ task.status }}</span>
            <span class="badge text-bg-primary">{{ task.user }}</span>
        </li>
        <form action="{% url 'tasks:task-complete' task:pk %}">
            {% csrf_token %}
            <button type="submit" class="badge text-bg-danger">Danger</button>
        </form>
    {% empty %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
    <h1>Завдання не знайдені</h1>
    {% endfor %}
  </li>
</ul>
{% endblock %}